*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: "Dois", "Lato", sans-serif;
}

body {
  background-color: #191970;
  background-size: cover;

}

h1 {

  padding: 1rem;
}

header {
  height: 300px;
  margin: 0 auto;
  display: flex;
  background: rgb(170,212,159);
  background: linear-gradient(75deg, rgba(170,212,159,1) 25%, rgba(205,110,214,1) 80%);
  font-family:  "Lato", sans-serif;;
  text-transform: uppercase;
  font-size: 1rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.button {
  font-size: 0.8rem;
  font-family:"Lato", sans-serif;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.8em;
  background-color: #1528FA;
  text-align: center;
  text-transform: uppercase ;
  color: #FFFFFF;
}

a.button:hover {background-color: #ffd700; }

a.button:active {background-color: #ffd700; }

a.butotn:visited {background-color: #ccc;}

.pointer {cursor: pointer;}

#image {
  display:block;
  max-width: 100%;
  height: auto;
}

h2 {

 padding: 1rem;
  text-transform: uppercase;
}
section{

  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 2rem;
  font-size: 1rem;
  background-color: #FFFFFF;
  justify-content: center;

}

article {

 flex-direction: column;
 justify-content: space-around;
  height: 600px;
  background-color: #5218fa;
  color: #FFFFFF;
  margin: 2rem;
  padding: 2rem;
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: center;
  align-self: start;
  align-items: center;
  justify-content: center;
}
