* {

  box-sizing: border-box;
}

body {

font-family: "Dois", "Lato",  sans-serif;
margin: 0px;
padding:0px;
background-color: #191970;
background-size: cover;
}

header {
  height: 300px;
  margin: 0;
  display: flex;
  background: rgb(170,212,159);
  background: linear-gradient(75deg, rgba(170,212,159,1) 25%, rgba(205,110,214,1) 80%);
  font-family:  "Lato", sans-serif;;
  text-transform: uppercase;
  font-size: : 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.button {
  font-size: 0.8rem;
  font-family:"Lato", sans-serif;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.8em;
  background-color: #1528FA;
  text-align: center;
  text-transform: uppercase ;
  color: #FFFFFF;
}

a.button:hover {background-color: #ffd700; }

a.button:active {background-color: #ffd700; }

a.butotn:visited {background-color: #ccc;}


#image {
  display:block;
  max-width: 100%;
  height: auto;
}


h2 {

  margin:0;
  font-size: 1.4rem;
  padding: 1.5rem;
  text-transform: uppercase;;
}

p{

   margin: 0;
   padding: 0 1rem 0;
  max-width: 65ch;

}

figcaption {

     font-style: italic;
     padding: 0.5em;
     text-align: center;

}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #FFFFFF;
}

article {
  height: 500px;
  flex-basis: 32.5%;
  margin-bottom: 25px;
  background-color: #1528FA;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 1.1rem;
  max-width: 65ch;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

blockquote{

margin: 0;
padding: 1em;


}

li{
  margin: 10px 0;
}

/* media queries */


@media only screen and (max-width: 700px) {


 header {

   height: 200px;
   font-size: 1.3rem;
 }

 h2 {

   font-size: 1rem;
 }
  section {
  width: 98%;
  margin: 0.5rem auto;
  padding:1rem;

  }

  article {


  flex-basis: 48.5%;
  font-size: 0.9rem;
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;


  }

  P{
    text-overflow: ellipsis;
     overflow: hidden;

  }

  blockquote p {

text-overflow: ellipsis;
 overflow: hidden;


  }

}


@media only screen and (max-width: 500px) {

  article {

  height: 500px;
  flex-basis:100%;
font-size: 1.1rem;
  }

}
